<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Error</title>
  </head>
  <body>
    <pre><%= error.stack || error.message %></pre>
    <div id="app" style="display: none"></div>

    <% if (typeof js !== 'undefined') { %>
      <% js.forEach((file) => { %>
        <script src="<%= file %>"></script>
      <% }) %>
    <% } %>
  </body>
</html>
