html {
  box-sizing: border-box;
  font-size: 62.5%;

  & *,
  & *::before,
  & *::after {
    box-sizing: inherit;
  }
}

body {
  background-color: $color-white;
  color: $color-black;
  font-family: sans-serif;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
}

a {
  color: $color-blue;
  font-weight: $font-weight-bold;
  text-decoration: none;

  &:hover {
    color: $color-black;
  }
}
