$color-white: #f7f7fa;
$color-black: #31393c;
$color-gray: #8c9fa3;
$color-blue: #06aed5;
$color-green: #065143;
$color-red: #af293d;

$font-size-base: 1.4rem;
$font-size-lg: 1.6rem;
$font-size-xl: 2rem;

$font-weight-normal: 400;
$font-weight-bold: 700;

$line-height-base: (20 / 14);
