@import '../styles/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: $color-black;
  color: $color-white;
}

.logo {
  width: 4rem;
  height: 4rem;
  background-image: url('#{$path-images}react-logo.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.brand {
  margin-left: 1rem;
  margin-right: auto;
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
}

.nav {
  & > a {
    margin-left: 1rem;
  }
}
